<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="./css/history.css">
</head>
<body>
    <div id="main-body">
        <%- include("./partials/header.ejs") %>
        <%- include("./partials/nav.ejs") %>
        <div id="history-body">
            <div id="history-header">
                <button id="back-btn">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <h1 id="header">history</h1>
                <div id="search">
                    <input type="text" name="" id="year-input" placeholder="YEAR: 2021" autocomplete="off">
                </div>
            </div>
            <div class="histories">
                <div id="january">
                    <button id="january-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    january
                </div>
                <div id="february">
                    <button id="february-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    february
                </div>
                <div id="march">
                    <button id="march-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    march
                </div>
                <div id="april">
                    <button id="april-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    april
                </div>
                <div id="may">
                    <button id="may-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    may
                </div>
                <div id="june">
                    <button id="june-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    june
                </div>
                <div id="july">
                    <button id="july-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    july
                </div>
                <div id="august">
                    <button id="august-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    august
                </div>
                <div id="september">
                    <button id="september-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    september
                </div>
                <div id="october">
                    <button id="october-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    october
                </div>
                <div id="november">
                    <button id="november-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    november
                </div>
                <div id="december">
                    <button id="december-btn">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                    </button>
                    december
                </div>
            </div>
            <div id="month-display">
                <h3>CALENDAR</h3>
                <button id="day1" class="dayClass">
                    <i class="fa fa-calendar-day">1</i>
                </button>
                <button id="day2">
                    <i class="fa fa-calendar-day">2</i>
                </button>
                <button id="day3">
                    <i class="fa fa-calendar-day">3</i>
                </button>
                <button id="day4">
                    <i class="fa fa-calendar-day">4</i>
                </button>
                <button id="day5">
                    <i class="fa fa-calendar-day">5</i>
                </button>
                <button id="day6">
                    <i class="fa fa-calendar-day">6</i>
                </button>
                <button id="day7">
                    <i class="fa fa-calendar-day">7</i>
                </button>
                <button id="day8">
                    <i class="fa fa-calendar-day">8</i>
                </button>
                <button id="day9">
                    <i class="fa fa-calendar-day">9</i>
                </button>
                <button id="day10">
                    <i class="fa fa-calendar-day">10</i>
                </button>
                <button id="day11">
                    <i class="fa fa-calendar-day">11</i>
                </button>
                <button id="day12">
                    <i class="fa fa-calendar-day">12</i>
                </button>
                <button id="day13">
                    <i class="fa fa-calendar-day">13</i>
                </button>
                <button id="day14" class="day-class">
                    <i class="fa fa-calendar-day">14</i>
                </button>
                <button id="day15">
                    <i class="fa fa-calendar-day">15</i>
                </button>
                <button id="day16">
                    <i class="fa fa-calendar-day">16</i>
                </button>
                <button id="day17" class="day-class">
                    <i class="fa fa-calendar-day">17</i>
                </button>
                <button id="day18">
                    <i class="fa fa-calendar-day">18</i>
                </button>
                <button id="day19">
                    <i class="fa fa-calendar-day">19</i>
                </button>
                <button id="day20">
                    <i class="fa fa-calendar-day">20</i>
                </button>
                <button id="day21">
                    <i class="fa fa-calendar-day">21</i>
                </button>
                <button id="day22">
                    <i class="fa fa-calendar-day">22</i>
                </button>
                <button id="day23">
                    <i class="fa fa-calendar-day">23</i>
                </button>
                <button id="day24">
                    <i class="fa fa-calendar-day">24</i>
                </button>
                <button id="day25">
                    <i class="fa fa-calendar-day">25</i>
                </button>
                <button id="day26">
                    <i class="fa fa-calendar-day">26</i>
                </button>
                <button id="day27">
                    <i class="fa fa-calendar-day">27</i>
                </button>
                <button id="day28">
                    <i class="fa fa-calendar-day">28</i>
                </button>
                <button id="day29">
                    <i class="fa fa-calendar-day">29</i>
                </button>
                <button id="day30">
                    <i class="fa fa-calendar-day">30</i>
                </button>
                <button id="day31">
                    <i class="fa fa-calendar-day">31</i>
                </button>
            </div>
            <div id="day-records">
                <div id="header">
                    <span>employee</span>
                    <span>work</span>
                    <span>school</span>
                    <span>plate no</span>
                    <span>log in</span>
                    <span>log out</span>
                </div>
            </div>
        </div> 
    </div>
    <script src="./js/history.js"></script>
</body>
</html>