<div id="menu-body">
    <span id="home">
        <a href="/">
            <button>
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>
                    home
                </span>
            </button>
        </a>
    </span>
    <span id="setting">
        <a href="/setting">
            <button>
               <i class="fa fa-cogs" aria-hidden="true"></i>
               <span>
                   setting
               </span>
            </button>
        </a>
    </span>
    <span id="report">
        <a href="/report">
            <button>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span>
                    report
                </span> 
            </button>
        </a>
    </span>
    <span id="history">
        <a href="/history">
            <button>
                <i class="fa fa-history" aria-hidden="true"></i>
                <span>
                    history
                </span>
            </button>
        </a>
    </span>
    <div id="inputs">
        <span id="rfid">
            <input type="text" id="rfid-input" placeholder="RFID" autocomplete="off">
            <button id="rfid-btn">
                log in/out
            </button>
            <!-- <button id="fromDatabase-btn">
                load
            </button> -->
            <button id="clear-btn">
                clear
            </button>
        </span>
    </div>
</div>