<div class="driver-info">
    <button class="close-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <div class="drive-info-body"> 
        <fieldset>
            <legend>driver info</legend>
            <span class="driver-info-name"></span>
            <span class="driver-info-work"></span>
            <span class="driver-info-plate"></span>
            <span class="driver-info-time"></span>
            <span class="driver-info-date"></span>
        </fieldset>
    </div>
</div>